.navbar{
   background-color: rgb(0, 0, 0);
   padding: 20px;
   height: 750px;
   width: 40px;
   color: white;
   margin-top: 3px;
   margin-bottom: 3px;
}

.main{
   display:flex;
   height:100vh;
   padding: 0.25rem;
}
  
.home-icon{
   background-color: beige;
   border-radius: 5px;
   padding-left: 5px;
}

.home-icon i{
   font-size: 25px;
   padding: 2px;
   color: black;
}

.icons{
   margin-top: 100px;
}

.icons i{
   font-size: 30px;
   padding-top: 50px;
}

.icons1{
   font-size: 25px;
   padding-top: 100px;
}

/* .main-content{
   background-color: red;
   width: 100%;
   height: 100vh;
   border-radius: 1rem; /* 16px */
   /* overflow: auto;
   padding : 0 0.5rem 0 0.5rem;
} */ 

.main-content {
   flex-grow: 1; /* Expands to fill the remaining width */
   background-color: #f4f4f4; /* Light background for better visibility */
   height: 95vh;
   width: 165vh;
   border-radius: 1rem; /* Rounded corners */
   overflow: auto;
   padding: 1rem; /* Adds padding inside */
   display: flex;
   flex-direction: column;
   gap: 1rem; /* Adds spacing between inner elements */
}

.box{
   position: sticky;
   top: 0;
   display: flex;
   justify-content: space-between;
}

.box-info{
   font-size: 30px;
   font-weight: bold;
   color: #232323;
}

.box-icons{
   font-size: 25px;
   color: black;
   display: flex;
   flex-wrap: wrap;
   
}

.box-icons i{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   margin-left: 30px;
   padding-right: 30px;
   padding-left: 30px;
   background-color: lightblue;
   border-radius: 100px;
   font-size: 20px;
}

.box-1{
   display: flex;
   flex-wrap: wrap;
}

.box12{
   color: #232323;
   margin-right: 20px;
   display: flex;
   flex-wrap: wrap;
   font-size: 30px;
}

.innerbox{
   width: 100%;
   height: 80%;
   background-color: lightblue;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   color: white;
   margin-bottom: 20px;
   margin-top: 10px;
   border-radius: 20px;
}

.box1{
   font-size: 30px;
   color: black;
}

.box-2{
   display: flex;
   flex-wrap: wrap;
}

.box2{
   background-color: aquamarine;
   border: 1px solid black;
   margin-right: 20px;
}

.box13{
   display: flex;
   flex-wrap: wrap;
   padding:10px;
}

.box11{
   background-color: #f6000021;
   border-radius: 1rem;
   width:200px;
   height:250px;
   padding: 1rem;
   display: flex;
   flex-wrap: wrap;
   margin-right: 60px;
   margin-left: 10px;
}